/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */

html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
footer,
header,
nav,
section {
    display: block
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

figcaption,
figure {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

main {
    display: block
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active,
a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: inherit
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

audio,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText
}

input {
    overflow: visible
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    box-sizing: border-box;
    display: table;
    max-width: 100%;
    padding: 0;
    color: inherit;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

details {
    display: block
}

summary {
    display: list-item
}

menu {
    display: block
}

canvas {
    display: inline-block
}

template {
    display: none
}

[hidden] {
    display: none
}

.foundation-mq {
    font-family: "small=0em&medium=40em&large=64em&xlarge=75em&xxlarge=90em"
}

html {
    box-sizing: border-box;
    font-size: 100%
}

*,
*::before,
*::after {
    box-sizing: inherit
}

body {
    margin: 0;
    padding: 0;
    background: #fefefe;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #0a0a0a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic
}

textarea {
    height: auto;
    min-height: 50px;
    border-radius: 0
}

select {
    box-sizing: border-box;
    width: 100%;
    border-radius: 0
}

.map_canvas img,
.map_canvas embed,
.map_canvas object,
.mqa-display img,
.mqa-display embed,
.mqa-display object {
    max-width: none !important
}

button {
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    background: transparent;
    line-height: 1
}

[data-whatinput='mouse'] button {
    outline: 0
}

pre {
    overflow: auto
}

.is-visible {
    display: block !important
}

.is-hidden {
    display: none !important
}

.row {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto
}

.row::before,
.row::after {
    display: table;
    content: ' '
}

.row::after {
    clear: both
}

.row.collapse>.column,
.row.collapse>.columns {
    padding-right: 0;
    padding-left: 0
}

.row .row {
    margin-right: -.625rem;
    margin-left: -.625rem
}

@media print,
screen and (min-width: 40em) {
    .row .row {
        margin-right: -.9375rem;
        margin-left: -.9375rem
    }
}

@media print,
screen and (min-width: 64em) {
    .row .row {
        margin-right: -.9375rem;
        margin-left: -.9375rem
    }
}

.row .row.collapse {
    margin-right: 0;
    margin-left: 0
}

.row.expanded {
    max-width: none
}

.row.expanded .row {
    margin-right: auto;
    margin-left: auto
}

.row:not(.expanded) .row {
    max-width: none
}

.row.gutter-small>.column,
.row.gutter-small>.columns {
    padding-right: .625rem;
    padding-left: .625rem
}

.row.gutter-medium>.column,
.row.gutter-medium>.columns {
    padding-right: .9375rem;
    padding-left: .9375rem
}

.column,
.columns {
    width: 100%;
    float: left;
    padding-right: .625rem;
    padding-left: .625rem
}

@media print,
screen and (min-width: 40em) {
    .column,
    .columns {
        padding-right: .9375rem;
        padding-left: .9375rem
    }
}

.column:last-child:not(:first-child),
.columns:last-child:not(:first-child) {
    float: right
}

.column.end:last-child:last-child,
.end.columns:last-child:last-child {
    float: left
}

.column.row.row,
.row.row.columns {
    float: none
}

.row .column.row.row,
.row .row.row.columns {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0
}

.small-1 {
    width: 8.33333%
}

.small-push-1 {
    position: relative;
    left: 8.33333%
}

.small-pull-1 {
    position: relative;
    left: -8.33333%
}

.small-offset-0 {
    margin-left: 0%
}

.small-2 {
    width: 16.66667%
}

.small-push-2 {
    position: relative;
    left: 16.66667%
}

.small-pull-2 {
    position: relative;
    left: -16.66667%
}

.small-offset-1 {
    margin-left: 8.33333%
}

.small-3 {
    width: 25%
}

.small-push-3 {
    position: relative;
    left: 25%
}

.small-pull-3 {
    position: relative;
    left: -25%
}

.small-offset-2 {
    margin-left: 16.66667%
}

.small-4 {
    width: 33.33333%
}

.small-push-4 {
    position: relative;
    left: 33.33333%
}

.small-pull-4 {
    position: relative;
    left: -33.33333%
}

.small-offset-3 {
    margin-left: 25%
}

.small-5 {
    width: 41.66667%
}

.small-push-5 {
    position: relative;
    left: 41.66667%
}

.small-pull-5 {
    position: relative;
    left: -41.66667%
}

.small-offset-4 {
    margin-left: 33.33333%
}

.small-6 {
    width: 50%
}

.small-push-6 {
    position: relative;
    left: 50%
}

.small-pull-6 {
    position: relative;
    left: -50%
}

.small-offset-5 {
    margin-left: 41.66667%
}

.small-7 {
    width: 58.33333%
}

.small-push-7 {
    position: relative;
    left: 58.33333%
}

.small-pull-7 {
    position: relative;
    left: -58.33333%
}

.small-offset-6 {
    margin-left: 50%
}

.small-8 {
    width: 66.66667%
}

.small-push-8 {
    position: relative;
    left: 66.66667%
}

.small-pull-8 {
    position: relative;
    left: -66.66667%
}

.small-offset-7 {
    margin-left: 58.33333%
}

.small-9 {
    width: 75%
}

.small-push-9 {
    position: relative;
    left: 75%
}

.small-pull-9 {
    position: relative;
    left: -75%
}

.small-offset-8 {
    margin-left: 66.66667%
}

.small-10 {
    width: 83.33333%
}

.small-push-10 {
    position: relative;
    left: 83.33333%
}

.small-pull-10 {
    position: relative;
    left: -83.33333%
}

.small-offset-9 {
    margin-left: 75%
}

.small-11 {
    width: 91.66667%
}

.small-push-11 {
    position: relative;
    left: 91.66667%
}

.small-pull-11 {
    position: relative;
    left: -91.66667%
}

.small-offset-10 {
    margin-left: 83.33333%
}

.small-12 {
    width: 100%
}

.small-offset-11 {
    margin-left: 91.66667%
}

.small-up-1>.column,
.small-up-1>.columns {
    float: left;
    width: 100%
}

.small-up-1>.column:nth-of-type(1n),
.small-up-1>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-1>.column:nth-of-type(1n+1),
.small-up-1>.columns:nth-of-type(1n+1) {
    clear: both
}

.small-up-1>.column:last-child,
.small-up-1>.columns:last-child {
    float: left
}

.small-up-2>.column,
.small-up-2>.columns {
    float: left;
    width: 50%
}

.small-up-2>.column:nth-of-type(1n),
.small-up-2>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-2>.column:nth-of-type(2n+1),
.small-up-2>.columns:nth-of-type(2n+1) {
    clear: both
}

.small-up-2>.column:last-child,
.small-up-2>.columns:last-child {
    float: left
}

.small-up-3>.column,
.small-up-3>.columns {
    float: left;
    width: 33.33333%
}

.small-up-3>.column:nth-of-type(1n),
.small-up-3>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-3>.column:nth-of-type(3n+1),
.small-up-3>.columns:nth-of-type(3n+1) {
    clear: both
}

.small-up-3>.column:last-child,
.small-up-3>.columns:last-child {
    float: left
}

.small-up-4>.column,
.small-up-4>.columns {
    float: left;
    width: 25%
}

.small-up-4>.column:nth-of-type(1n),
.small-up-4>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-4>.column:nth-of-type(4n+1),
.small-up-4>.columns:nth-of-type(4n+1) {
    clear: both
}

.small-up-4>.column:last-child,
.small-up-4>.columns:last-child {
    float: left
}

.small-up-5>.column,
.small-up-5>.columns {
    float: left;
    width: 20%
}

.small-up-5>.column:nth-of-type(1n),
.small-up-5>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-5>.column:nth-of-type(5n+1),
.small-up-5>.columns:nth-of-type(5n+1) {
    clear: both
}

.small-up-5>.column:last-child,
.small-up-5>.columns:last-child {
    float: left
}

.small-up-6>.column,
.small-up-6>.columns {
    float: left;
    width: 16.66667%
}

.small-up-6>.column:nth-of-type(1n),
.small-up-6>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-6>.column:nth-of-type(6n+1),
.small-up-6>.columns:nth-of-type(6n+1) {
    clear: both
}

.small-up-6>.column:last-child,
.small-up-6>.columns:last-child {
    float: left
}

.small-up-7>.column,
.small-up-7>.columns {
    float: left;
    width: 14.28571%
}

.small-up-7>.column:nth-of-type(1n),
.small-up-7>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-7>.column:nth-of-type(7n+1),
.small-up-7>.columns:nth-of-type(7n+1) {
    clear: both
}

.small-up-7>.column:last-child,
.small-up-7>.columns:last-child {
    float: left
}

.small-up-8>.column,
.small-up-8>.columns {
    float: left;
    width: 12.5%
}

.small-up-8>.column:nth-of-type(1n),
.small-up-8>.columns:nth-of-type(1n) {
    clear: none
}

.small-up-8>.column:nth-of-type(8n+1),
.small-up-8>.columns:nth-of-type(8n+1) {
    clear: both
}

.small-up-8>.column:last-child,
.small-up-8>.columns:last-child {
    float: left
}

.small-collapse>.column,
.small-collapse>.columns {
    padding-right: 0;
    padding-left: 0
}

.small-collapse .row {
    margin-right: 0;
    margin-left: 0
}

.expanded.row .small-collapse.row {
    margin-right: 0;
    margin-left: 0
}

.small-uncollapse>.column,
.small-uncollapse>.columns {
    padding-right: .625rem;
    padding-left: .625rem
}

.small-centered {
    margin-right: auto;
    margin-left: auto
}

.small-centered,
.small-centered:last-child:not(:first-child) {
    float: none;
    clear: both
}

.small-uncentered,
.small-push-0,
.small-pull-0 {
    position: static;
    float: left;
    margin-right: 0;
    margin-left: 0
}

@media print,
screen and (min-width: 40em) {
    .medium-1 {
        width: 8.33333%
    }
    .medium-push-1 {
        position: relative;
        left: 8.33333%
    }
    .medium-pull-1 {
        position: relative;
        left: -8.33333%
    }
    .medium-offset-0 {
        margin-left: 0%
    }
    .medium-2 {
        width: 16.66667%
    }
    .medium-push-2 {
        position: relative;
        left: 16.66667%
    }
    .medium-pull-2 {
        position: relative;
        left: -16.66667%
    }
    .medium-offset-1 {
        margin-left: 8.33333%
    }
    .medium-3 {
        width: 25%
    }
    .medium-push-3 {
        position: relative;
        left: 25%
    }
    .medium-pull-3 {
        position: relative;
        left: -25%
    }
    .medium-offset-2 {
        margin-left: 16.66667%
    }
    .medium-4 {
        width: 33.33333%
    }
    .medium-push-4 {
        position: relative;
        left: 33.33333%
    }
    .medium-pull-4 {
        position: relative;
        left: -33.33333%
    }
    .medium-offset-3 {
        margin-left: 25%
    }
    .medium-5 {
        width: 41.66667%
    }
    .medium-push-5 {
        position: relative;
        left: 41.66667%
    }
    .medium-pull-5 {
        position: relative;
        left: -41.66667%
    }
    .medium-offset-4 {
        margin-left: 33.33333%
    }
    .medium-6 {
        width: 50%
    }
    .medium-push-6 {
        position: relative;
        left: 50%
    }
    .medium-pull-6 {
        position: relative;
        left: -50%
    }
    .medium-offset-5 {
        margin-left: 41.66667%
    }
    .medium-7 {
        width: 58.33333%
    }
    .medium-push-7 {
        position: relative;
        left: 58.33333%
    }
    .medium-pull-7 {
        position: relative;
        left: -58.33333%
    }
    .medium-offset-6 {
        margin-left: 50%
    }
    .medium-8 {
        width: 66.66667%
    }
    .medium-push-8 {
        position: relative;
        left: 66.66667%
    }
    .medium-pull-8 {
        position: relative;
        left: -66.66667%
    }
    .medium-offset-7 {
        margin-left: 58.33333%
    }
    .medium-9 {
        width: 75%
    }
    .medium-push-9 {
        position: relative;
        left: 75%
    }
    .medium-pull-9 {
        position: relative;
        left: -75%
    }
    .medium-offset-8 {
        margin-left: 66.66667%
    }
    .medium-10 {
        width: 83.33333%
    }
    .medium-push-10 {
        position: relative;
        left: 83.33333%
    }
    .medium-pull-10 {
        position: relative;
        left: -83.33333%
    }
    .medium-offset-9 {
        margin-left: 75%
    }
    .medium-11 {
        width: 91.66667%
    }
    .medium-push-11 {
        position: relative;
        left: 91.66667%
    }
    .medium-pull-11 {
        position: relative;
        left: -91.66667%
    }
    .medium-offset-10 {
        margin-left: 83.33333%
    }
    .medium-12 {
        width: 100%
    }
    .medium-offset-11 {
        margin-left: 91.66667%
    }
    .medium-up-1>.column,
    .medium-up-1>.columns {
        float: left;
        width: 100%
    }
    .medium-up-1>.column:nth-of-type(1n),
    .medium-up-1>.columns:nth-of-type(1n) {
        clear: none
    }
    .medium-up-1>.column:nth-of-type(1n+1),
    .medium-up-1>.columns:nth-of-type(1n+1) {
        clear: both
    }
    .medium-up-1>.column:last-child,
    .medium-up-1>.columns:last-child {
        float: left
    }
    .medium-up-2>.column,
    .medium-up-2>.columns {
        float: left;
        width: 50%
    }
    .medium-up-2>.column:nth-of-type(1n),
    .medium-up-2>.columns:nth-of-type(1n) {
        clear: none
    }
    .medium-up-2>.column:nth-of-type(2n+1),
    .medium-up-2>.columns:nth-of-type(2n+1) {
        clear: both
    }
    .medium-up-2>.column:last-child,
    .medium-up-2>.columns:last-child {
        float: left
    }
    .medium-up-3>.column,
    .medium-up-3>.columns {
        float: left;
        width: 33.33333%
    }
    .medium-up-3>.column:nth-of-type(1n),
    .medium-up-3>.columns:nth-of-type(1n) {
        clear: none
    }
    .medium-up-3>.column:nth-of-type(3n+1),
    .medium-up-3>.columns:nth-of-type(3n+1) {
        clear: both
    }
    .medium-up-3>.column:last-child,
    .medium-up-3>.columns:last-child {
        float: left
    }
    .medium-up-4>.column,
    .medium-up-4>.columns {
        float: left;
        width: 25%
    }
    .medium-up-4>.column:nth-of-type(1n),
    .medium-up-4>.columns:nth-of-type(1n) {
        clear: none
    }
    .medium-up-4>.column:nth-of-type(4n+1),
    .medium-up-4>.columns:nth-of-type(4n+1) {
        clear: both
    }
    .medium-up-4>.column:last-child,
    .medium-up-4>.columns:last-child {
        float: left
    }
    .medium-up-5>.column,
    .medium-up-5>.columns {
        float: left;
        width: 20%
    }
    .medium-up-5>.column:nth-of-type(1n),
    .medium-up-5>.columns:nth-of-type(1n) {
        clear: none
    }
    .medium-up-5>.column:nth-of-type(5n+1),
    .medium-up-5>.columns:nth-of-type(5n+1) {
        clear: both
    }
    .medium-up-5>.column:last-child,
    .medium-up-5>.columns:last-child {
        float: left
    }
    .medium-up-6>.column,
    .medium-up-6>.columns {
        float: left;
        width: 16.66667%
    }
    .medium-up-6>.column:nth-of-type(1n),
    .medium-up-6>.columns:nth-of-type(1n) {
        clear: none
    }
    .medium-up-6>.column:nth-of-type(6n+1),
    .medium-up-6>.columns:nth-of-type(6n+1) {
        clear: both
    }
    .medium-up-6>.column:last-child,
    .medium-up-6>.columns:last-child {
        float: left
    }
    .medium-up-7>.column,
    .medium-up-7>.columns {
        float: left;
        width: 14.28571%
    }
    .medium-up-7>.column:nth-of-type(1n),
    .medium-up-7>.columns:nth-of-type(1n) {
        clear: none
    }
    .medium-up-7>.column:nth-of-type(7n+1),
    .medium-up-7>.columns:nth-of-type(7n+1) {
        clear: both
    }
    .medium-up-7>.column:last-child,
    .medium-up-7>.columns:last-child {
        float: left
    }
    .medium-up-8>.column,
    .medium-up-8>.columns {
        float: left;
        width: 12.5%
    }
    .medium-up-8>.column:nth-of-type(1n),
    .medium-up-8>.columns:nth-of-type(1n) {
        clear: none
    }
    .medium-up-8>.column:nth-of-type(8n+1),
    .medium-up-8>.columns:nth-of-type(8n+1) {
        clear: both
    }
    .medium-up-8>.column:last-child,
    .medium-up-8>.columns:last-child {
        float: left
    }
    .medium-collapse>.column,
    .medium-collapse>.columns {
        padding-right: 0;
        padding-left: 0
    }
    .medium-collapse .row {
        margin-right: 0;
        margin-left: 0
    }
    .expanded.row .medium-collapse.row {
        margin-right: 0;
        margin-left: 0
    }
    .medium-uncollapse>.column,
    .medium-uncollapse>.columns {
        padding-right: .9375rem;
        padding-left: .9375rem
    }
    .medium-centered {
        margin-right: auto;
        margin-left: auto
    }
    .medium-centered,
    .medium-centered:last-child:not(:first-child) {
        float: none;
        clear: both
    }
    .medium-uncentered,
    .medium-push-0,
    .medium-pull-0 {
        position: static;
        float: left;
        margin-right: 0;
        margin-left: 0
    }
}

@media print,
screen and (min-width: 64em) {
    .large-1 {
        width: 8.33333%
    }
    .large-push-1 {
        position: relative;
        left: 8.33333%
    }
    .large-pull-1 {
        position: relative;
        left: -8.33333%
    }
    .large-offset-0 {
        margin-left: 0%
    }
    .large-2 {
        width: 16.66667%
    }
    .large-push-2 {
        position: relative;
        left: 16.66667%
    }
    .large-pull-2 {
        position: relative;
        left: -16.66667%
    }
    .large-offset-1 {
        margin-left: 8.33333%
    }
    .large-3 {
        width: 25%
    }
    .large-push-3 {
        position: relative;
        left: 25%
    }
    .large-pull-3 {
        position: relative;
        left: -25%
    }
    .large-offset-2 {
        margin-left: 16.66667%
    }
    .large-4 {
        width: 33.33333%
    }
    .large-push-4 {
        position: relative;
        left: 33.33333%
    }
    .large-pull-4 {
        position: relative;
        left: -33.33333%
    }
    .large-offset-3 {
        margin-left: 25%
    }
    .large-5 {
        width: 41.66667%
    }
    .large-push-5 {
        position: relative;
        left: 41.66667%
    }
    .large-pull-5 {
        position: relative;
        left: -41.66667%
    }
    .large-offset-4 {
        margin-left: 33.33333%
    }
    .large-6 {
        width: 50%
    }
    .large-push-6 {
        position: relative;
        left: 50%
    }
    .large-pull-6 {
        position: relative;
        left: -50%
    }
    .large-offset-5 {
        margin-left: 41.66667%
    }
    .large-7 {
        width: 58.33333%
    }
    .large-push-7 {
        position: relative;
        left: 58.33333%
    }
    .large-pull-7 {
        position: relative;
        left: -58.33333%
    }
    .large-offset-6 {
        margin-left: 50%
    }
    .large-8 {
        width: 66.66667%
    }
    .large-push-8 {
        position: relative;
        left: 66.66667%
    }
    .large-pull-8 {
        position: relative;
        left: -66.66667%
    }
    .large-offset-7 {
        margin-left: 58.33333%
    }
    .large-9 {
        width: 75%
    }
    .large-push-9 {
        position: relative;
        left: 75%
    }
    .large-pull-9 {
        position: relative;
        left: -75%
    }
    .large-offset-8 {
        margin-left: 66.66667%
    }
    .large-10 {
        width: 83.33333%
    }
    .large-push-10 {
        position: relative;
        left: 83.33333%
    }
    .large-pull-10 {
        position: relative;
        left: -83.33333%
    }
    .large-offset-9 {
        margin-left: 75%
    }
    .large-11 {
        width: 91.66667%
    }
    .large-push-11 {
        position: relative;
        left: 91.66667%
    }
    .large-pull-11 {
        position: relative;
        left: -91.66667%
    }
    .large-offset-10 {
        margin-left: 83.33333%
    }
    .large-12 {
        width: 100%
    }
    .large-offset-11 {
        margin-left: 91.66667%
    }
    .large-up-1>.column,
    .large-up-1>.columns {
        float: left;
        width: 100%
    }
    .large-up-1>.column:nth-of-type(1n),
    .large-up-1>.columns:nth-of-type(1n) {
        clear: none
    }
    .large-up-1>.column:nth-of-type(1n+1),
    .large-up-1>.columns:nth-of-type(1n+1) {
        clear: both
    }
    .large-up-1>.column:last-child,
    .large-up-1>.columns:last-child {
        float: left
    }
    .large-up-2>.column,
    .large-up-2>.columns {
        float: left;
        width: 50%
    }
    .large-up-2>.column:nth-of-type(1n),
    .large-up-2>.columns:nth-of-type(1n) {
        clear: none
    }
    .large-up-2>.column:nth-of-type(2n+1),
    .large-up-2>.columns:nth-of-type(2n+1) {
        clear: both
    }
    .large-up-2>.column:last-child,
    .large-up-2>.columns:last-child {
        float: left
    }
    .large-up-3>.column,
    .large-up-3>.columns {
        float: left;
        width: 33.33333%
    }
    .large-up-3>.column:nth-of-type(1n),
    .large-up-3>.columns:nth-of-type(1n) {
        clear: none
    }
    .large-up-3>.column:nth-of-type(3n+1),
    .large-up-3>.columns:nth-of-type(3n+1) {
        clear: both
    }
    .large-up-3>.column:last-child,
    .large-up-3>.columns:last-child {
        float: left
    }
    .large-up-4>.column,
    .large-up-4>.columns {
        float: left;
        width: 25%
    }
    .large-up-4>.column:nth-of-type(1n),
    .large-up-4>.columns:nth-of-type(1n) {
        clear: none
    }
    .large-up-4>.column:nth-of-type(4n+1),
    .large-up-4>.columns:nth-of-type(4n+1) {
        clear: both
    }
    .large-up-4>.column:last-child,
    .large-up-4>.columns:last-child {
        float: left
    }
    .large-up-5>.column,
    .large-up-5>.columns {
        float: left;
        width: 20%
    }
    .large-up-5>.column:nth-of-type(1n),
    .large-up-5>.columns:nth-of-type(1n) {
        clear: none
    }
    .large-up-5>.column:nth-of-type(5n+1),
    .large-up-5>.columns:nth-of-type(5n+1) {
        clear: both
    }
    .large-up-5>.column:last-child,
    .large-up-5>.columns:last-child {
        float: left
    }
    .large-up-6>.column,
    .large-up-6>.columns {
        float: left;
        width: 16.66667%
    }
    .large-up-6>.column:nth-of-type(1n),
    .large-up-6>.columns:nth-of-type(1n) {
        clear: none
    }
    .large-up-6>.column:nth-of-type(6n+1),
    .large-up-6>.columns:nth-of-type(6n+1) {
        clear: both
    }
    .large-up-6>.column:last-child,
    .large-up-6>.columns:last-child {
        float: left
    }
    .large-up-7>.column,
    .large-up-7>.columns {
        float: left;
        width: 14.28571%
    }
    .large-up-7>.column:nth-of-type(1n),
    .large-up-7>.columns:nth-of-type(1n) {
        clear: none
    }
    .large-up-7>.column:nth-of-type(7n+1),
    .large-up-7>.columns:nth-of-type(7n+1) {
        clear: both
    }
    .large-up-7>.column:last-child,
    .large-up-7>.columns:last-child {
        float: left
    }
    .large-up-8>.column,
    .large-up-8>.columns {
        float: left;
        width: 12.5%
    }
    .large-up-8>.column:nth-of-type(1n),
    .large-up-8>.columns:nth-of-type(1n) {
        clear: none
    }
    .large-up-8>.column:nth-of-type(8n+1),
    .large-up-8>.columns:nth-of-type(8n+1) {
        clear: both
    }
    .large-up-8>.column:last-child,
    .large-up-8>.columns:last-child {
        float: left
    }
    .large-collapse>.column,
    .large-collapse>.columns {
        padding-right: 0;
        padding-left: 0
    }
    .large-collapse .row {
        margin-right: 0;
        margin-left: 0
    }
    .expanded.row .large-collapse.row {
        margin-right: 0;
        margin-left: 0
    }
    .large-uncollapse>.column,
    .large-uncollapse>.columns {
        padding-right: .9375rem;
        padding-left: .9375rem
    }
    .large-centered {
        margin-right: auto;
        margin-left: auto
    }
    .large-centered,
    .large-centered:last-child:not(:first-child) {
        float: none;
        clear: both
    }
    .large-uncentered,
    .large-push-0,
    .large-pull-0 {
        position: static;
        float: left;
        margin-right: 0;
        margin-left: 0
    }
}

.column-block {
    margin-bottom: 1.25rem
}

.column-block>:last-child {
    margin-bottom: 0
}

@media print,
screen and (min-width: 40em) {
    .column-block {
        margin-bottom: 1.875rem
    }
    .column-block>:last-child {
        margin-bottom: 0
    }
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0
}

p {
    margin-bottom: 1rem;
    font-size: inherit;
    line-height: 1.6;
    text-rendering: optimizeLegibility
}

em,
i {
    font-style: italic;
    line-height: inherit
}

strong,
b {
    font-weight: bold;
    line-height: inherit
}

small {
    font-size: 80%;
    line-height: inherit
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: inherit;
    text-rendering: optimizeLegibility
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    line-height: 0;
    color: #cacaca
}

h1 {
    font-size: 1.5rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: .5rem
}

h2 {
    font-size: 1.25rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: .5rem
}

h3 {
    font-size: 1.1875rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: .5rem
}

h4 {
    font-size: 1.125rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: .5rem
}

h5 {
    font-size: 1.0625rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: .5rem
}

h6 {
    font-size: 1rem;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: .5rem
}

@media print,
screen and (min-width: 40em) {
    h1 {
        font-size: 3rem
    }
    h2 {
        font-size: 2.5rem
    }
    h3 {
        font-size: 1.9375rem
    }
    h4 {
        font-size: 1.5625rem
    }
    h5 {
        font-size: 1.25rem
    }
    h6 {
        font-size: 1rem
    }
}

a {
    line-height: inherit;
    color: #1779ba;
    text-decoration: none;
    cursor: pointer
}

a:hover,
a:focus {
    color: #1468a0
}

a img {
    border: 0
}

hr {
    clear: both;
    max-width: 75rem;
    height: 0;
    margin: 1.25rem auto;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #cacaca;
    border-left: 0
}

ul,
ol,
dl {
    margin-bottom: 1rem;
    list-style-position: outside;
    line-height: 1.6
}

li {
    font-size: inherit
}

ul {
    margin-left: 1.25rem;
    list-style-type: disc
}

ol {
    margin-left: 1.25rem
}

ul ul,
ol ul,
ul ol,
ol ol {
    margin-left: 1.25rem;
    margin-bottom: 0
}

dl {
    margin-bottom: 1rem
}

dl dt {
    margin-bottom: .3rem;
    font-weight: bold
}

blockquote {
    margin: 0 0 1rem;
    padding: .5625rem 1.25rem 0 1.1875rem;
    border-left: 1px solid #cacaca
}

blockquote,
blockquote p {
    line-height: 1.6;
    color: #8a8a8a
}

cite {
    display: block;
    font-size: .8125rem;
    color: #8a8a8a
}

cite:before {
    content: "— "
}

abbr {
    border-bottom: 1px dotted #0a0a0a;
    color: #0a0a0a;
    cursor: help
}

figure {
    margin: 0
}

code {
    padding: .125rem .3125rem .0625rem;
    border: 1px solid #cacaca;
    background-color: #e6e6e6;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-weight: normal;
    color: #0a0a0a
}

kbd {
    margin: 0;
    padding: .125rem .25rem 0;
    background-color: #e6e6e6;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    color: #0a0a0a
}

.subheader {
    margin-top: .2rem;
    margin-bottom: .5rem;
    font-weight: normal;
    line-height: 1.4;
    color: #8a8a8a
}

.lead {
    font-size: 125%;
    line-height: 1.6
}

.stat {
    font-size: 2.5rem;
    line-height: 1
}

p+.stat {
    margin-top: -1rem
}

.no-bullet {
    margin-left: 0;
    list-style: none
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.text-justify {
    text-align: justify
}

@media print,
screen and (min-width: 40em) {
    .medium-text-left {
        text-align: left
    }
    .medium-text-right {
        text-align: right
    }
    .medium-text-center {
        text-align: center
    }
    .medium-text-justify {
        text-align: justify
    }
}

@media print,
screen and (min-width: 64em) {
    .large-text-left {
        text-align: left
    }
    .large-text-right {
        text-align: right
    }
    .large-text-center {
        text-align: center
    }
    .large-text-justify {
        text-align: justify
    }
}

.show-for-print {
    display: none !important
}

@media print {
    * {
        background: transparent !important;
        box-shadow: none !important;
        color: black !important;
        text-shadow: none !important
    }
    .show-for-print {
        display: block !important
    }
    .hide-for-print {
        display: none !important
    }
    table.show-for-print {
        display: table !important
    }
    thead.show-for-print {
        display: table-header-group !important
    }
    tbody.show-for-print {
        display: table-row-group !important
    }
    tr.show-for-print {
        display: table-row !important
    }
    td.show-for-print {
        display: table-cell !important
    }
    th.show-for-print {
        display: table-cell !important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    .ir a:after,
    a[href^='javascript:']:after,
    a[href^='#']:after {
        content: ''
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    pre,
    blockquote {
        border: 1px solid #8a8a8a;
        page-break-inside: avoid
    }
    thead {
        display: table-header-group
    }
    tr,
    img {
        page-break-inside: avoid
    }
    img {
        max-width: 100% !important
    }
    @page {
        margin: 0.5cm
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
    .print-break-inside {
        page-break-inside: auto
    }
}

.button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #1779ba;
    color: #fefefe
}

[data-whatinput='mouse'] .button {
    outline: 0
}

.button:hover,
.button:focus {
    background-color: #14679e;
    color: #fefefe
}

.button.tiny {
    font-size: .6rem
}

.button.small {
    font-size: .75rem
}

.button.large {
    font-size: 1.25rem
}

.button.expanded {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0
}

.button.primary {
    background-color: #1779ba;
    color: #fefefe
}

.button.primary:hover,
.button.primary:focus {
    background-color: #126195;
    color: #fefefe
}

.button.secondary {
    background-color: #767676;
    color: #fefefe
}

.button.secondary:hover,
.button.secondary:focus {
    background-color: #5e5e5e;
    color: #fefefe
}

.button.success {
    background-color: #3adb76;
    color: #0a0a0a
}

.button.success:hover,
.button.success:focus {
    background-color: #22bb5b;
    color: #0a0a0a
}

.button.warning {
    background-color: #ffae00;
    color: #0a0a0a
}

.button.warning:hover,
.button.warning:focus {
    background-color: #cc8b00;
    color: #0a0a0a
}

.button.alert {
    background-color: #cc4b37;
    color: #fefefe
}

.button.alert:hover,
.button.alert:focus {
    background-color: #a53b2a;
    color: #fefefe
}

.button.hollow {
    border: 1px solid #1779ba;
    color: #1779ba
}

.button.hollow,
.button.hollow:hover,
.button.hollow:focus {
    background-color: transparent
}

.button.hollow:hover,
.button.hollow:focus {
    border-color: #0c3d5d;
    color: #0c3d5d
}

.button.hollow.primary {
    border: 1px solid #1779ba;
    color: #1779ba
}

.button.hollow.primary:hover,
.button.hollow.primary:focus {
    border-color: #0c3d5d;
    color: #0c3d5d
}

.button.hollow.secondary {
    border: 1px solid #767676;
    color: #767676
}

.button.hollow.secondary:hover,
.button.hollow.secondary:focus {
    border-color: #3b3b3b;
    color: #3b3b3b
}

.button.hollow.success {
    border: 1px solid #3adb76;
    color: #3adb76
}

.button.hollow.success:hover,
.button.hollow.success:focus {
    border-color: #157539;
    color: #157539
}

.button.hollow.warning {
    border: 1px solid #ffae00;
    color: #ffae00
}

.button.hollow.warning:hover,
.button.hollow.warning:focus {
    border-color: #805700;
    color: #805700
}

.button.hollow.alert {
    border: 1px solid #cc4b37;
    color: #cc4b37
}

.button.hollow.alert:hover,
.button.hollow.alert:focus {
    border-color: #67251a;
    color: #67251a
}

.button.disabled,
.button[disabled] {
    opacity: .25;
    cursor: not-allowed
}

.button.disabled,
.button.disabled:hover,
.button.disabled:focus,
.button[disabled],
.button[disabled]:hover,
.button[disabled]:focus {
    background-color: #1779ba;
    color: #fefefe
}

.button.disabled.primary,
.button[disabled].primary {
    opacity: .25;
    cursor: not-allowed
}

.button.disabled.primary,
.button.disabled.primary:hover,
.button.disabled.primary:focus,
.button[disabled].primary,
.button[disabled].primary:hover,
.button[disabled].primary:focus {
    background-color: #1779ba;
    color: #fefefe
}

.button.disabled.secondary,
.button[disabled].secondary {
    opacity: .25;
    cursor: not-allowed
}

.button.disabled.secondary,
.button.disabled.secondary:hover,
.button.disabled.secondary:focus,
.button[disabled].secondary,
.button[disabled].secondary:hover,
.button[disabled].secondary:focus {
    background-color: #767676;
    color: #fefefe
}

.button.disabled.success,
.button[disabled].success {
    opacity: .25;
    cursor: not-allowed
}

.button.disabled.success,
.button.disabled.success:hover,
.button.disabled.success:focus,
.button[disabled].success,
.button[disabled].success:hover,
.button[disabled].success:focus {
    background-color: #3adb76;
    color: #0a0a0a
}

.button.disabled.warning,
.button[disabled].warning {
    opacity: .25;
    cursor: not-allowed
}

.button.disabled.warning,
.button.disabled.warning:hover,
.button.disabled.warning:focus,
.button[disabled].warning,
.button[disabled].warning:hover,
.button[disabled].warning:focus {
    background-color: #ffae00;
    color: #0a0a0a
}

.button.disabled.alert,
.button[disabled].alert {
    opacity: .25;
    cursor: not-allowed
}

.button.disabled.alert,
.button.disabled.alert:hover,
.button.disabled.alert:focus,
.button[disabled].alert,
.button[disabled].alert:hover,
.button[disabled].alert:focus {
    background-color: #cc4b37;
    color: #fefefe
}

.button.dropdown::after {
    display: block;
    width: 0;
    height: 0;
    border: inset .4em;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: #fefefe transparent transparent;
    position: relative;
    top: 0.4em;
    display: inline-block;
    float: right;
    margin-left: 1em
}

.button.dropdown.hollow::after {
    border-top-color: #1779ba
}

.button.dropdown.hollow.primary::after {
    border-top-color: #1779ba
}

.button.dropdown.hollow.secondary::after {
    border-top-color: #767676
}

.button.dropdown.hollow.success::after {
    border-top-color: #3adb76
}

.button.dropdown.hollow.warning::after {
    border-top-color: #ffae00
}

.button.dropdown.hollow.alert::after {
    border-top-color: #cc4b37
}

.button.arrow-only::after {
    top: -0.1em;
    float: none;
    margin-left: 0
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    margin: 0 0 1rem;
    padding: .5rem;
    border: 1px solid #cacaca;
    border-radius: 0;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    color: #0a0a0a;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

[type='text']:focus,
[type='password']:focus,
[type='date']:focus,
[type='datetime']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='week']:focus,
[type='email']:focus,
[type='number']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='url']:focus,
[type='color']:focus,
textarea:focus {
    outline: none;
    border: 1px solid #8a8a8a;
    background-color: #fefefe;
    box-shadow: 0 0 5px #cacaca;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out
}

textarea {
    max-width: 100%
}

textarea[rows] {
    height: auto
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #cacaca
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #cacaca
}

input::placeholder,
textarea::placeholder {
    color: #cacaca
}

input:disabled,
input[readonly],
textarea:disabled,
textarea[readonly] {
    background-color: #e6e6e6;
    cursor: not-allowed
}

[type='submit'],
[type='button'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0
}

input[type='search'] {
    box-sizing: border-box
}

[type='file'],
[type='checkbox'],
[type='radio'] {
    margin: 0 0 1rem
}

[type='checkbox']+label,
[type='radio']+label {
    display: inline-block;
    vertical-align: baseline;
    margin-left: .5rem;
    margin-right: 1rem;
    margin-bottom: 0
}

[type='checkbox']+label[for],
[type='radio']+label[for] {
    cursor: pointer
}

label>[type='checkbox'],
label>[type='radio'] {
    margin-right: .5rem
}

[type='file'] {
    width: 100%
}

label {
    display: block;
    margin: 0;
    font-size: .875rem;
    font-weight: normal;
    line-height: 1.8;
    color: #0a0a0a
}

label.middle {
    margin: 0 0 1rem;
    padding: .5625rem 0
}

.help-text {
    margin-top: -.5rem;
    font-size: .8125rem;
    font-style: italic;
    color: #0a0a0a
}

.input-group {
    display: table;
    width: 100%;
    margin-bottom: 1rem
}

.input-group>:first-child {
    border-radius: 0 0 0 0
}

.input-group>:last-child>* {
    border-radius: 0 0 0 0
}

.input-group-label,
.input-group-field,
.input-group-button,
.input-group-button a,
.input-group-button input,
.input-group-button button,
.input-group-button label {
    margin: 0;
    white-space: nowrap;
    display: table-cell;
    vertical-align: middle
}

.input-group-label {
    padding: 0 1rem;
    border: 1px solid #cacaca;
    background: #e6e6e6;
    color: #0a0a0a;
    text-align: center;
    white-space: nowrap;
    width: 1%;
    height: 100%
}

.input-group-label:first-child {
    border-right: 0
}

.input-group-label:last-child {
    border-left: 0
}

.input-group-field {
    border-radius: 0;
    height: 2.5rem
}

.input-group-button {
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    width: 1%;
    height: 100%
}

.input-group-button a,
.input-group-button input,
.input-group-button button,
.input-group-button label {
    height: 2.5rem;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1rem
}

.input-group .input-group-button {
    display: table-cell
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0
}

legend {
    max-width: 100%;
    margin-bottom: .5rem
}

.fieldset {
    margin: 1.125rem 0;
    padding: 1.25rem;
    border: 1px solid #cacaca
}

.fieldset legend {
    margin: 0;
    margin-left: -.1875rem;
    padding: 0 .1875rem;
    background: #fefefe
}

select {
    height: 2.4375rem;
    margin: 0 0 1rem;
    padding: .5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #cacaca;
    border-radius: 0;
    background-color: #fefefe;
    font-family: inherit;
    font-size: 1rem;
    line-height: normal;
    color: #0a0a0a;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
    background-origin: content-box;
    background-position: right -1rem center;
    background-repeat: no-repeat;
    background-size: 9px 6px;
    padding-right: 1.5rem;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out
}

@media screen and (min-width: 0\0) {
    select {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg==")
    }
}

select:focus {
    outline: none;
    border: 1px solid #8a8a8a;
    background-color: #fefefe;
    box-shadow: 0 0 5px #cacaca;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out
}

select:disabled {
    background-color: #e6e6e6;
    cursor: not-allowed
}

select::-ms-expand {
    display: none
}

select[multiple] {
    height: auto;
    background-image: none
}

.is-invalid-input:not(:focus) {
    border-color: #cc4b37;
    background-color: #f9ecea
}

.is-invalid-input:not(:focus)::-webkit-input-placeholder {
    color: #cc4b37
}

.is-invalid-input:not(:focus):-ms-input-placeholder {
    color: #cc4b37
}

.is-invalid-input:not(:focus)::placeholder {
    color: #cc4b37
}

.is-invalid-label {
    color: #cc4b37
}

.form-error {
    display: none;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    font-size: .75rem;
    font-weight: bold;
    color: #cc4b37
}

.form-error.is-visible {
    display: block
}

.accordion {
    margin-left: 0;
    background: #fefefe;
    list-style-type: none
}

.accordion-item:first-child>:first-child {
    border-radius: 0 0 0 0
}

.accordion-item:last-child>:last-child {
    border-radius: 0 0 0 0
}

.accordion-title {
    position: relative;
    display: block;
    padding: 1.25rem 1rem;
    border: 1px solid #e6e6e6;
    border-bottom: 0;
    font-size: .75rem;
    line-height: 1;
    color: #1779ba
}

:last-child:not(.is-active)>.accordion-title {
    border-bottom: 1px solid #e6e6e6;
    border-radius: 0 0 0 0
}

.accordion-title:hover,
.accordion-title:focus {
    background-color: #e6e6e6
}

.accordion-title::before {
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -0.5rem;
    content: '+'
}

.is-active>.accordion-title::before {
    content: '\2013'
}

.accordion-content {
    display: none;
    padding: 1rem;
    border: 1px solid #e6e6e6;
    border-bottom: 0;
    background-color: #fefefe;
    color: #0a0a0a
}

:last-child>.accordion-content:last-child {
    border-bottom: 1px solid #e6e6e6
}

.is-accordion-submenu-parent>a {
    position: relative
}

.is-accordion-submenu-parent>a::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: #1779ba transparent transparent;
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 1rem
}

.is-accordion-submenu-parent[aria-expanded='true']>a::after {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}

.badge {
    display: inline-block;
    min-width: 2.1em;
    padding: .3em;
    border-radius: 50%;
    font-size: .6rem;
    text-align: center;
    background: #1779ba;
    color: #fefefe
}

.badge.primary {
    background: #1779ba;
    color: #fefefe
}

.badge.secondary {
    background: #767676;
    color: #fefefe
}

.badge.success {
    background: #3adb76;
    color: #0a0a0a
}

.badge.warning {
    background: #ffae00;
    color: #0a0a0a
}

.badge.alert {
    background: #cc4b37;
    color: #fefefe
}

.breadcrumbs {
    margin: 0 0 1rem 0;
    list-style: none
}

.breadcrumbs::before,
.breadcrumbs::after {
    display: table;
    content: ' '
}

.breadcrumbs::after {
    clear: both
}

.breadcrumbs li {
    float: left;
    font-size: .6875rem;
    color: #0a0a0a;
    cursor: default;
    text-transform: uppercase
}

.breadcrumbs li:not(:last-child)::after {
    position: relative;
    top: 1px;
    margin: 0 .75rem;
    opacity: 1;
    content: "/";
    color: #cacaca
}

.breadcrumbs a {
    color: #1779ba
}

.breadcrumbs a:hover {
    text-decoration: underline
}

.breadcrumbs .disabled {
    color: #cacaca;
    cursor: not-allowed
}

.button-group {
    margin-bottom: 1rem;
    font-size: 0
}

.button-group::before,
.button-group::after {
    display: table;
    content: ' '
}

.button-group::after {
    clear: both
}

.button-group .button {
    margin: 0;
    margin-right: 1px;
    margin-bottom: 1px;
    font-size: 0.9rem
}

.button-group .button:last-child {
    margin-right: 0
}

.button-group.tiny .button {
    font-size: .6rem
}

.button-group.small .button {
    font-size: .75rem
}

.button-group.large .button {
    font-size: 1.25rem
}

.button-group.expanded {
    margin-right: -1px
}

.button-group.expanded::before,
.button-group.expanded::after {
    display: none
}

.button-group.expanded .button:first-child:last-child {
    width: 100%
}

.button-group.expanded .button:first-child:nth-last-child(2),
.button-group.expanded .button:first-child:nth-last-child(2):first-child:nth-last-child(2) ~ .button {
    display: inline-block;
    width: calc(50% - 1px);
    margin-right: 1px
}

.button-group.expanded .button:first-child:nth-last-child(2):last-child,
.button-group.expanded .button:first-child:nth-last-child(2):first-child:nth-last-child(2) ~ .button:last-child {
    margin-right: -6px
}

.button-group.expanded .button:first-child:nth-last-child(3),
.button-group.expanded .button:first-child:nth-last-child(3):first-child:nth-last-child(3) ~ .button {
    display: inline-block;
    width: calc(33.33333% - 1px);
    margin-right: 1px
}

.button-group.expanded .button:first-child:nth-last-child(3):last-child,
.button-group.expanded .button:first-child:nth-last-child(3):first-child:nth-last-child(3) ~ .button:last-child {
    margin-right: -6px
}

.button-group.expanded .button:first-child:nth-last-child(4),
.button-group.expanded .button:first-child:nth-last-child(4):first-child:nth-last-child(4) ~ .button {
    display: inline-block;
    width: calc(25% - 1px);
    margin-right: 1px
}

.button-group.expanded .button:first-child:nth-last-child(4):last-child,
.button-group.expanded .button:first-child:nth-last-child(4):first-child:nth-last-child(4) ~ .button:last-child {
    margin-right: -6px
}

.button-group.expanded .button:first-child:nth-last-child(5),
.button-group.expanded .button:first-child:nth-last-child(5):first-child:nth-last-child(5) ~ .button {
    display: inline-block;
    width: calc(20% - 1px);
    margin-right: 1px
}

.button-group.expanded .button:first-child:nth-last-child(5):last-child,
.button-group.expanded .button:first-child:nth-last-child(5):first-child:nth-last-child(5) ~ .button:last-child {
    margin-right: -6px
}

.button-group.expanded .button:first-child:nth-last-child(6),
.button-group.expanded .button:first-child:nth-last-child(6):first-child:nth-last-child(6) ~ .button {
    display: inline-block;
    width: calc(16.66667% - 1px);
    margin-right: 1px
}

.button-group.expanded .button:first-child:nth-last-child(6):last-child,
.button-group.expanded .button:first-child:nth-last-child(6):first-child:nth-last-child(6) ~ .button:last-child {
    margin-right: -6px
}

.button-group.primary .button {
    background-color: #1779ba;
    color: #fefefe
}

.button-group.primary .button:hover,
.button-group.primary .button:focus {
    background-color: #126195;
    color: #fefefe
}

.button-group.secondary .button {
    background-color: #767676;
    color: #fefefe
}

.button-group.secondary .button:hover,
.button-group.secondary .button:focus {
    background-color: #5e5e5e;
    color: #fefefe
}

.button-group.success .button {
    background-color: #3adb76;
    color: #0a0a0a
}

.button-group.success .button:hover,
.button-group.success .button:focus {
    background-color: #22bb5b;
    color: #0a0a0a
}

.button-group.warning .button {
    background-color: #ffae00;
    color: #0a0a0a
}

.button-group.warning .button:hover,
.button-group.warning .button:focus {
    background-color: #cc8b00;
    color: #0a0a0a
}

.button-group.alert .button {
    background-color: #cc4b37;
    color: #fefefe
}

.button-group.alert .button:hover,
.button-group.alert .button:focus {
    background-color: #a53b2a;
    color: #fefefe
}

.button-group.stacked .button,
.button-group.stacked-for-small .button,
.button-group.stacked-for-medium .button {
    width: 100%
}

.button-group.stacked .button:last-child,
.button-group.stacked-for-small .button:last-child,
.button-group.stacked-for-medium .button:last-child {
    margin-bottom: 0
}

@media print,
screen and (min-width: 40em) {
    .button-group.stacked-for-small .button {
        width: auto;
        margin-bottom: 0
    }
}

@media print,
screen and (min-width: 64em) {
    .button-group.stacked-for-medium .button {
        width: auto;
        margin-bottom: 0
    }
}

@media screen and (max-width: 39.9375em) {
    .button-group.stacked-for-small.expanded {
        display: block
    }
    .button-group.stacked-for-small.expanded .button {
        display: block;
        margin-right: 0
    }
}

.callout {
    position: relative;
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 1px solid rgba(10, 10, 10, 0.25);
    border-radius: 0;
    background-color: #fff;
    color: #0a0a0a
}

.callout>:first-child {
    margin-top: 0
}

.callout>:last-child {
    margin-bottom: 0
}

.callout.primary {
    background-color: #d7ecfa;
    color: #0a0a0a
}

.callout.secondary {
    background-color: #eaeaea;
    color: #0a0a0a
}

.callout.success {
    background-color: #e1faea;
    color: #0a0a0a
}

.callout.warning {
    background-color: #fff3d9;
    color: #0a0a0a
}

.callout.alert {
    background-color: #f7e4e1;
    color: #0a0a0a
}

.callout.small {
    padding-top: .5rem;
    padding-right: .5rem;
    padding-bottom: .5rem;
    padding-left: .5rem
}

.callout.large {
    padding-top: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    padding-left: 3rem
}

.card {
    margin-bottom: 1rem;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    background: #fefefe;
    box-shadow: none;
    overflow: hidden;
    color: #0a0a0a
}

.card>:last-child {
    margin-bottom: 0;
}

.card-divider {
    padding: 1rem;
    background: #e6e6e6;
}

.card-divider>:last-child {
    margin-bottom: 0;
}

.card-section {
    padding: 1rem
}

.card-section>:last-child {
    margin-bottom: 0;
}

.close-button {
    position: absolute;
    color: #8a8a8a;
    cursor: pointer;
}

[data-whatinput='mouse'] .close-button {
    outline: 0;
}

.close-button:hover,
.close-button:focus {
    color: #0a0a0a;
}

.close-button.small {
    right: 0.66rem;
    top: 0.33em;
    font-size: 1.5em;;
    line-height: 1;
}

.close-button,
.close-button.medium {
    right: 1rem;
    top: 0.5rem;
    font-size: 2em;
    line-height: 1;
}

.menu {
    margin: 0;
    list-style-type: none;
}

.menu>li {
    display: table-cell;
    vertical-align: middle;
}

[data-whatinput='mouse'] .menu>li {
    outline: 0;
}

.menu>li>a {
    display: block;
    padding: 0.7rem 1rem;
    line-height: 1;
}

.menu input,
.menu select,
.menu a,
.menu button {
    margin-bottom: 0;
}

.menu>li>a img,
.menu>li>a i,
.menu>li>a svg {
    vertical-align: middle;
}

.menu>li>a img+span,
.menu>li>a i+span,
.menu>li>a svg+span {
    vertical-align: middle;
}

.menu>li>a img,
.menu>li>a i,
.menu>li>a svg {
    margin-right: .25rem;
    display: inline-block;
}

.menu>li,
.menu.horizontal>li {
    display: table-cell;
}

.menu.expanded {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.menu.expanded>li:first-child:last-child {
    width: 100%;
}

.menu.vertical>li {
    display: block;
}

@media print,
screen and (min-width: 40em) {
    .menu.medium-horizontal>li {
        display: table-cell;
    }
    .menu.medium-expanded {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .menu.medium-expanded>li:first-child:last-child {
        width: 100%;
    }
    .menu.medium-vertical>li {
        display: block;
    }
}

@media print,
screen and (min-width: 64em) {
    .menu.large-horizontal>li {
        display: table-cell;
    }
    .menu.large-expanded {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .menu.large-expanded>li:first-child:last-child {
        width: 100%
    }
    .menu.large-vertical>li {
        display: block
    }
}

.menu.simple li {
    display: inline-block;
    vertical-align: top;
    line-height: 1
}

.menu.simple a {
    padding: 0
}

.menu.simple li {
    margin-left: 0;
    margin-right: 1rem
}

.menu.simple.align-right li {
    margin-right: 0;
    margin-left: 1rem
}

.menu.align-right::before,
.menu.align-right::after {
    display: table;
    content: ' '
}

.menu.align-right::after {
    clear: both
}

.menu.align-right>li {
    float: right
}

.menu.icon-top>li>a {
    text-align: center
}

.menu.icon-top>li>a img,
.menu.icon-top>li>a i,
.menu.icon-top>li>a svg {
    display: block;
    margin: 0 auto .25rem
}

.menu.icon-top.vertical a>span {
    margin: auto
}

.menu.nested {
    margin-left: 1rem
}

.menu .active>a {
    background: #1779ba;
    color: #fefefe
}

.menu.menu-bordered li {
    border: 1px solid #e6e6e6
}

.menu.menu-bordered li:not(:first-child) {
    border-top: 0
}

.menu.menu-hover li:hover {
    background-color: #e6e6e6
}

.menu-text {
    padding-top: 0;
    padding-bottom: 0;
    padding: 0.7rem 1rem;
    font-weight: bold;
    line-height: 1;
    color: inherit
}

.menu-centered {
    text-align: center
}

.menu-centered>.menu {
    display: inline-block;
    vertical-align: top
}

.no-js [data-responsive-menu] ul {
    display: none
}

.menu-icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 16px;
    cursor: pointer
}

.menu-icon::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #fefefe;
    box-shadow: 0 7px 0 #fefefe, 0 14px 0 #fefefe;
    content: ''
}

.menu-icon:hover::after {
    background: #cacaca;
    box-shadow: 0 7px 0 #cacaca, 0 14px 0 #cacaca
}

.menu-icon.dark {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 16px;
    cursor: pointer
}

.menu-icon.dark::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #0a0a0a;
    box-shadow: 0 7px 0 #0a0a0a, 0 14px 0 #0a0a0a;
    content: ''
}

.menu-icon.dark:hover::after {
    background: #8a8a8a;
    box-shadow: 0 7px 0 #8a8a8a, 0 14px 0 #8a8a8a
}

.is-drilldown {
    position: relative;
    overflow: hidden
}

.is-drilldown li {
    display: block
}

.is-drilldown.animate-height {
    transition: height 0.5s
}

.is-drilldown-submenu {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: -1;
    width: 100%;
    background: #fefefe;
    transition: transform 0.15s linear
}

.is-drilldown-submenu.is-active {
    z-index: 1;
    display: block;
    -ms-transform: translateX(-100%);
    transform: translateX(-100%)
}

.is-drilldown-submenu.is-closing {
    -ms-transform: translateX(100%);
    transform: translateX(100%)
}

.drilldown-submenu-cover-previous {
    min-height: 100%
}

.is-drilldown-submenu-parent>a {
    position: relative
}

.is-drilldown-submenu-parent>a::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-right-width: 0;
    border-left-style: solid;
    border-color: transparent transparent transparent #1779ba;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 1rem
}

.js-drilldown-back>a::before {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-left-width: 0;
    border-right-style: solid;
    border-color: transparent #1779ba transparent transparent;
    border-left-width: 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.75rem;
    border-left-width: 0
}

.dropdown-pane {
    position: absolute;
    z-index: 10;
    display: block;
    width: 300px;
    padding: 1rem;
    visibility: hidden;
    border: 1px solid #cacaca;
    border-radius: 0;
    background-color: #fefefe;
    font-size: 1rem
}

.dropdown-pane.is-open {
    visibility: visible
}

.dropdown-pane.tiny {
    width: 100px
}

.dropdown-pane.small {
    width: 200px
}

.dropdown-pane.large {
    width: 400px
}

.dropdown.menu>li.opens-left>.is-dropdown-submenu {
    top: 100%;
    right: 0;
    left: auto
}

.dropdown.menu>li.opens-right>.is-dropdown-submenu {
    top: 100%;
    right: auto;
    left: 0
}

.dropdown.menu>li.is-dropdown-submenu-parent>a {
    position: relative;
    padding-right: 1.5rem
}

.dropdown.menu>li.is-dropdown-submenu-parent>a::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: #1779ba transparent transparent;
    right: 5px;
    margin-top: -3px
}

[data-whatinput='mouse'] .dropdown.menu a {
    outline: 0
}

.no-js .dropdown.menu ul {
    display: none
}

.dropdown.menu.vertical>li .is-dropdown-submenu {
    top: 0
}

.dropdown.menu.vertical>li.opens-left>.is-dropdown-submenu {
    right: 100%;
    left: auto
}

.dropdown.menu.vertical>li.opens-right>.is-dropdown-submenu {
    right: auto;
    left: 100%
}

.dropdown.menu.vertical>li>a::after {
    right: 14px
}

.dropdown.menu.vertical>li.opens-left>a::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-left-width: 0;
    border-right-style: solid;
    border-color: transparent #1779ba transparent transparent
}

.dropdown.menu.vertical>li.opens-right>a::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-right-width: 0;
    border-left-style: solid;
    border-color: transparent transparent transparent #1779ba
}

@media print,
screen and (min-width: 40em) {
    .dropdown.menu.medium-horizontal>li.opens-left>.is-dropdown-submenu {
        top: 100%;
        right: 0;
        left: auto
    }
    .dropdown.menu.medium-horizontal>li.opens-right>.is-dropdown-submenu {
        top: 100%;
        right: auto;
        left: 0
    }
    .dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a {
        position: relative;
        padding-right: 1.5rem
    }
    .dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a::after {
        display: block;
        width: 0;
        height: 0;
        border: inset 6px;
        content: '';
        border-bottom-width: 0;
        border-top-style: solid;
        border-color: #1779ba transparent transparent;
        right: 5px;
        margin-top: -3px
    }
    .dropdown.menu.medium-vertical>li .is-dropdown-submenu {
        top: 0
    }
    .dropdown.menu.medium-vertical>li.opens-left>.is-dropdown-submenu {
        right: 100%;
        left: auto
    }
    .dropdown.menu.medium-vertical>li.opens-right>.is-dropdown-submenu {
        right: auto;
        left: 100%
    }
    .dropdown.menu.medium-vertical>li>a::after {
        right: 14px
    }
    .dropdown.menu.medium-vertical>li.opens-left>a::after {
        display: block;
        width: 0;
        height: 0;
        border: inset 6px;
        content: '';
        border-left-width: 0;
        border-right-style: solid;
        border-color: transparent #1779ba transparent transparent
    }
    .dropdown.menu.medium-vertical>li.opens-right>a::after {
        display: block;
        width: 0;
        height: 0;
        border: inset 6px;
        content: '';
        border-right-width: 0;
        border-left-style: solid;
        border-color: transparent transparent transparent #1779ba
    }
}

@media print,
screen and (min-width: 64em) {
    .dropdown.menu.large-horizontal>li.opens-left>.is-dropdown-submenu {
        top: 100%;
        right: 0;
        left: auto
    }
    .dropdown.menu.large-horizontal>li.opens-right>.is-dropdown-submenu {
        top: 100%;
        right: auto;
        left: 0
    }
    .dropdown.menu.large-horizontal>li.is-dropdown-submenu-parent>a {
        position: relative;
        padding-right: 1.5rem
    }
    .dropdown.menu.large-horizontal>li.is-dropdown-submenu-parent>a::after {
        display: block;
        width: 0;
        height: 0;
        border: inset 6px;
        content: '';
        border-bottom-width: 0;
        border-top-style: solid;
        border-color: #1779ba transparent transparent;
        right: 5px;
        margin-top: -3px
    }
    .dropdown.menu.large-vertical>li .is-dropdown-submenu {
        top: 0
    }
    .dropdown.menu.large-vertical>li.opens-left>.is-dropdown-submenu {
        right: 100%;
        left: auto
    }
    .dropdown.menu.large-vertical>li.opens-right>.is-dropdown-submenu {
        right: auto;
        left: 100%
    }
    .dropdown.menu.large-vertical>li>a::after {
        right: 14px
    }
    .dropdown.menu.large-vertical>li.opens-left>a::after {
        display: block;
        width: 0;
        height: 0;
        border: inset 6px;
        content: '';
        border-left-width: 0;
        border-right-style: solid;
        border-color: transparent #1779ba transparent transparent
    }
    .dropdown.menu.large-vertical>li.opens-right>a::after {
        display: block;
        width: 0;
        height: 0;
        border: inset 6px;
        content: '';
        border-right-width: 0;
        border-left-style: solid;
        border-color: transparent transparent transparent #1779ba
    }
}

.dropdown.menu.align-right .is-dropdown-submenu.first-sub {
    top: 100%;
    right: 0;
    left: auto
}

.is-dropdown-menu.vertical {
    width: 100px
}

.is-dropdown-menu.vertical.align-right {
    float: right
}

.is-dropdown-submenu-parent {
    position: relative
}

.is-dropdown-submenu-parent a::after {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -6px
}

.is-dropdown-submenu-parent.opens-inner>.is-dropdown-submenu {
    top: 100%;
    left: auto
}

.is-dropdown-submenu-parent.opens-left>.is-dropdown-submenu {
    right: 100%;
    left: auto
}

.is-dropdown-submenu-parent.opens-right>.is-dropdown-submenu {
    right: auto;
    left: 100%
}

.is-dropdown-submenu {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1;
    display: none;
    min-width: 200px;
    border: 1px solid #cacaca;
    background: #fefefe
}

.is-dropdown-submenu .is-dropdown-submenu-parent>a::after {
    right: 14px
}

.is-dropdown-submenu .is-dropdown-submenu-parent.opens-left>a::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-left-width: 0;
    border-right-style: solid;
    border-color: transparent #1779ba transparent transparent
}

.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right>a::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-right-width: 0;
    border-left-style: solid;
    border-color: transparent transparent transparent #1779ba
}

.is-dropdown-submenu .is-dropdown-submenu {
    margin-top: -1px
}

.is-dropdown-submenu>li {
    width: 100%
}

.is-dropdown-submenu.js-dropdown-active {
    display: block
}

.responsive-embed,
.flex-video {
    position: relative;
    height: 0;
    margin-bottom: 1rem;
    padding-bottom: 75%;
    overflow: hidden
}

.responsive-embed iframe,
.responsive-embed object,
.responsive-embed embed,
.responsive-embed video,
.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.responsive-embed.widescreen,
.flex-video.widescreen {
    padding-bottom: 56.25%
}

.label {
    display: inline-block;
    padding: 0.33333rem 0.5rem;
    border-radius: 0;
    font-size: .8rem;
    line-height: 1;
    white-space: nowrap;
    cursor: default;
    background: #1779ba;
    color: #fefefe
}

.label.primary {
    background: #1779ba;
    color: #fefefe
}

.label.secondary {
    background: #767676;
    color: #fefefe
}

.label.success {
    background: #3adb76;
    color: #0a0a0a
}

.label.warning {
    background: #ffae00;
    color: #0a0a0a
}

.label.alert {
    background: #cc4b37;
    color: #fefefe
}

.media-object {
    display: block;
    margin-bottom: 1rem
}

.media-object img {
    max-width: none
}

@media screen and (max-width: 39.9375em) {
    .media-object.stack-for-small .media-object-section {
        padding: 0;
        padding-bottom: 1rem;
        display: block
    }
    .media-object.stack-for-small .media-object-section img {
        width: 100%
    }
}

.media-object-section {
    display: table-cell;
    vertical-align: top
}

.media-object-section:first-child {
    padding-right: 1rem
}

.media-object-section:last-child:not(:nth-child(2)) {
    padding-left: 1rem
}

.media-object-section>:last-child {
    margin-bottom: 0
}

.media-object-section.middle {
    vertical-align: middle
}

.media-object-section.bottom {
    vertical-align: bottom
}

.is-off-canvas-open {
    overflow: hidden
}

.js-off-canvas-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .5s ease, visibility .5s ease;
    background: rgba(254, 254, 254, 0.25);
    opacity: 0;
    visibility: hidden;
    overflow: hidden
}

.js-off-canvas-overlay.is-visible {
    opacity: 1;
    visibility: visible
}

.js-off-canvas-overlay.is-closable {
    cursor: pointer
}

.js-off-canvas-overlay.is-overlay-absolute {
    position: absolute
}

.js-off-canvas-overlay.is-overlay-fixed {
    position: fixed
}

.off-canvas-wrapper {
    position: relative;
    overflow: hidden
}

.off-canvas {
    position: fixed;
    z-index: 1;
    transition: transform .5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #e6e6e6
}

[data-whatinput='mouse'] .off-canvas {
    outline: 0
}

.off-canvas.is-transition-overlap {
    z-index: 10
}

.off-canvas.is-transition-overlap.is-open {
    box-shadow: 0 0 10px rgba(10, 10, 10, 0.7)
}

.off-canvas.is-open {
    -ms-transform: translate(0, 0);
    transform: translate(0, 0)
}

.off-canvas-absolute {
    position: absolute;
    z-index: 1;
    transition: transform .5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #e6e6e6
}

[data-whatinput='mouse'] .off-canvas-absolute {
    outline: 0
}

.off-canvas-absolute.is-transition-overlap {
    z-index: 10
}

.off-canvas-absolute.is-transition-overlap.is-open {
    box-shadow: 0 0 10px rgba(10, 10, 10, 0.7)
}

.off-canvas-absolute.is-open {
    -ms-transform: translate(0, 0);
    transform: translate(0, 0)
}

.position-left {
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    -ms-transform: translateX(-250px);
    transform: translateX(-250px);
    overflow-y: auto
}

.position-left.is-open ~ .off-canvas-content {
    -ms-transform: translateX(250px);
    transform: translateX(250px)
}

.position-left.is-transition-push.is-open ~ .off-canvas-content {
    -ms-transform: none;
    transform: none
}

.top-bar {
    padding: .5rem;
    margin-bottom: 50px;
}

.top-bar .top-bar-left,
.top-bar .top-bar-right {
    width: 100%
}

@media print,
screen and (min-width: 40em) {
    .top-bar .top-bar-left,
    .top-bar .top-bar-right {
        width: auto
    }
}

@media screen and (max-width: 63.9375em) {
    .top-bar.stacked-for-medium .top-bar-left,
    .top-bar.stacked-for-medium .top-bar-right {
        width: 100%
    }
}

@media screen and (max-width: 74.9375em) {
    .top-bar.stacked-for-large .top-bar-left,
    .top-bar.stacked-for-large .top-bar-right {
        width: 100%
    }
}

.top-bar-title {
    display: inline-block;
    float: left;
    padding: 0.5rem 1rem 0.5rem 0
}

.top-bar-title .menu-icon {
    bottom: 2px
}

.top-bar-left {
    float: left
}

.top-bar-right {
    float: right
}

.invisible {
    visibility: hidden
}

strong {
    color: white;
    font-size: 35px
}

a {
    color: #66b5c5;
    font-size: 22px
}

.top-bar {
    background-color: #66b5c5;
    height: 90px;
    padding: 10px 20px 10px 20px
}

.top-bar-title {
    padding: 0
}

.menu-text {
    background-color: #66b5c5
}

.button {
    background: #3333bb;
    margin: 0
}

.smaller {
    font-size: 22px;
    font-weight: normal;
    margin-top: 2px
}


/*  Suite à un problème avec Foundation, mon CSS s'est retrouvé mélangé aux fichiers Foundation.
    Malgré mes efforts, je n'ai pas réussi à les séparer sans détruire ma mise en page. Je referais
    tout ça correctement si j'en avais encore le temps, mais ce n'est pas le case. Mon travail se 
    trouve en-dessous de cette ligne, c'est le mieux que je puisse faire avec la situation actuelle.
    Les résidus de ce que je n'ai pas eu le temps de rectifier sont au-dessus.                        */


.profile {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    box-shadow: #227292 1px 1px 5px
}

li {
    margin: 0;
    list-style-type: none
}

a {
    background-color: transparent;
    text-decoration: none;
    color: transparent;
    border-style: none
}

h1 {
    margin: 0;
    margin-top: 20px
}

.header-image {
    border-radius: 50%;
    width: 160px;
    box-shadow: #227292 1px 1px 5px;
    margin-bottom: 15px
}

.tasklist span {
    display: inline-block
}

.header {
    background-color: #3399aa
}

.container {
    font-size: 32px;
    text-align: center;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    width: 1750px;
}

.tasklist {
    width: 1750px;
    margin: 0;
    margin-bottom: 75px;
    padding: 0
}

.tasklist li {
    line-height: 45px;
    padding-top: 5px;
    border-radius: 5px;
    margin-bottom: 14px;
}

.tasklist li:nth-child(even) {
    background-color: #BBBBBB;
}

.tasklist li:nth-child(odd) {
    background-color: #DDDDDD;
}

.tasklist li:nth-child(odd):hover {
    background-color: #eeeeee;
    cursor: pointer;
    border-bottom-style: solid;
    border-bottom-color: darkgrey;
    box-shadow: grey 0px 0px 3px;
    margin-bottom: 12px; 
}

.tasklist li:nth-child(even):hover {
    background-color: #eeeeee;
    cursor: pointer;
    border-bottom-style: solid;
    border-bottom-color: darkgrey;
    box-shadow: grey 0px 0px 3px;
    margin-bottom: 12px; 
}

.tasklist li:first-child {
    border-radius: 0;
    background-color: white;
    border-bottom-color: grey;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-bottom: 10px;

}

.tasklist li:first-child:hover {
    background-color: white;
    box-shadow: none;
    margin-bottom: 10px;
    cursor: auto
}

.id {
    padding-right: 20px;
    width: 50px
}

.description {
    width: 650px;
    text-align: left
}

.created-at {
    width: 330px;
    text-align: center
}

.due-at {
    width: 330px;
    text-align: center
}

.status {
    width: 130px;
    text-align: center
}

.delete {
    width: 50px;
    text-align: center
}

.priority {
    text-align: center;
    width: 120px
}

.btn-add {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #66b5c5;
    box-shadow: grey 1px 1px 5px;
    font-size: 70px;
    color: white;
    border-radius: 50%;
    position: fixed;
    bottom: 62px;
    right: 62px;
    text-align: center;
    text-shadow: #227292 1px 1px 5px;
    border-style: none;
    margin: 0;
}

.btn-add:hover {
    background-color: #77ccdd;
    color: white;
    box-shadow: grey 1px 1px 10px
}

.btn-add:active {
    background-color: lightblue
}

.btn-ok {
    width: 100px;
    height: 100px;
    background-color: #66b5c5;
    box-shadow: grey 1px 1px 5px;
    color: white;
    border-radius: 50%;
    margin-left: 89%;
    margin-right: 100px;
    text-align: center;
    text-shadow: #227292 1px 1px 5px;
    border-style: none;
    font-weight: bold
}

.btn-ok:hover {
    background-color: #77ccdd;
    box-shadow: grey 1px 1px 10px
}

.btn-ok:active {
    background-color: lightblue
}

.btn-status-green {
    background-color: #00E900;
    box-shadow: grey 1px 1px 2.5px;
    font-size: 30px;
    color: white;
    border-radius: 50%;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    text-shadow: #227292 1px 1px 5px;
    border-style: none;
    text-anchor: middle;
    font-weight: bold;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.btn-status-green:hover {
    background-color: #88E988;
    color: white;
    box-shadow: grey 1px 1px 5px
}

.btn-status-green:active {
    background-color: #BBE9BB
}

.btn-status-red {
    background-color: #FF0000;
    box-shadow: grey 1px 1px 2.5px;
    font-size: 30px;
    color: white;
    border-radius: 50%;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    text-shadow: #227292 1px 1px 5px;
    border-style: none;
    text-anchor: middle;
    font-weight: bold;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.btn-status-red:hover {
    background-color: #FF8888;
    color: white;
    box-shadow: grey 1px 1px 5px;
}

.btn-status-red:active {
    background-color: #FFBBBB;
}

.btn-delete {
    background-color: #555555;
    box-shadow: #222222 1px 1px 2.5px;
    font-size: 30px;
    color: white;
    border-radius: 50%;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    text-shadow: grey 1px 1px 5px;
    border-style: none;
    text-anchor: middle;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.btn-delete:hover {
    background-color: #a0a0a0;
    color: white;
    box-shadow: #222222 1px 1px 5px;
}

.btn-delete:active {
    background-color: #bababa;
}

.editor {
    padding: 0;
    width: 50%;
    margin-top: 100px;
    margin-right: 25%;
    margin-left: 25%;
    text-align: right;
    margin-bottom: 75px;
    font-size: 26px;
}

.edit-item {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.edit-desc-field {
    width: 70%;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
}

.edit-due-field {
    width: 70%;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
}

.edit-label {
    width: 30%;
    height: 30px;
    padding-bottom: 50%;
    margin-right: 20px;
}

.btn-text {
    color: white;
    font-size: 35px;
}

.label-close {
    text-decoration: line-through;
    font-size: 32px;
    height: 45px;
    padding: 0;
}

.login-main{
	font-size: 32px;
    text-align: center;
    color: white;
    margin: auto;
    margin-top: 11%;
    align-self: center;
    width: 50%;
    height: 35%;
    background-color: ;
    padding: 4%;
    padding-top: 1.5%;
    background-color: #66b5c5;
    border-radius: 20px;
    box-shadow: grey 0px 0px 5px;
}

.btn-add:hover {
    background-color: #77ccdd;
    color: white;
    box-shadow: grey 1px 1px 10px;
}

.btn-add:active {
    background-color: lightblue;
}

.author{
    text-align: left;
    margin-left: 78px;
    margin-right: 78px;
    height: 42px;
    padding: 0;
    //border-top-width: 0.5px;
    //border-top-style: dotted;
    margin-top: -12px;
}

.author span{
    width: 666px;
    display: inline-block;
}

.people{
    font-size: 20px;
}

.add-form{
    text-align: center;
    align-self: center;
    padding-left: 24%;
    padding-right: 24%;
}

.toolbar{
    width: 1750px;
    height: 65px;
    margin: 0 auto;
}

.sort-select{
    width: 220px;
    height: 61px;
    margin-right: -7px;
    margin-left: 10px;
}

.sort-button{
    width: 220px;
    height: 61px;
}

.sidebar-button{
    width: 100%;
    text-align: left;
    padding-left: 20px; 
    margin-top: 10px;
}