body{
	background: white;
	padding-left: 18%;
	padding-right: 18%;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: grey;
}

img{
	 border: 5px ridge darkgrey;
	 border-radius: 15px;
	 box-shadow: 1px 1px 2px 0px
}

h2{
	font-weight: bold;
	font-family: Helvetica;
	text-align: left;
	padding-left: 2.5%;
	color: darkblue;
}

#main{
	border: 10px ridge lightblue;
	border-radius: 30px;
	padding-left: 5%;
	text-align: center;
	background-color: white;
	box-shadow: 2px 2px 15px 0px;
}

#CVmain{
	border-style: 
	text-align: left;
	padding-left: 2.5%;
}

#exp{
	text-align: left;
	padding-left: 5%;
}

#infoList{
	padding-left: 10%;
	padding-top: 11%;
	text-align: left;
	list-style-type: none;
}

#headTab{
	text-anchor: bottom;
	padding-left: 5%
}